<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.alltest">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Zxing -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".saxparserfor_xml.MainActivity" />
        <activity android:name=".saxparserfor_xml.XmlActivity" />
        <activity android:name=".broadcast.BroadcastTestActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".jsonparser.JsonActivity" />
        <activity android:name=".bluetooth.BluetoothActivity" />
        <activity android:name=".startactivityforresult.FirstActivity" />
        <activity android:name=".startactivityforresult.SecondActivity" />
        <activity android:name=".snackbar.SnackbarActivity" />
        <activity android:name=".okhttp_mvp_eventbus.BookActivity" />
        <activity android:name=".sqlite.SQLiteActivity" />
        <activity android:name=".filesave.FileActivity" />
        <activity android:name=".fragment.FragmentActivity" />
        <activity android:name=".camera.PictureActivity" />
        <activity android:name=".js_java.JsActivity" />
        <activity android:name=".view_skipdots.DotsViewActivity" />
        <activity android:name=".fullscreen_set.FullScreenActivity"></activity>
        <activity android:name=".ListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pullrefresh.RefreshActivity"></activity>
    </application>

</manifest>